@{
    ViewData["Title"] = "Contact";
}

<a asp asp-controller="Home" asp-action="Index">Go Home</a>
<h1>Contact us here if you have any more questions!</h1>
<p>This page is going to be about contact information so that 
    users can have their questions/concerns answered!!!
</p>
