h1{
    text-align:center;
    background-color:blue;
    color:white;
}
ol{
    background-color:blue;
    color:white;
    text-align:center;
}
footer{
    text-align:center;
    background-color:blue;
    color:white;
}